<form clrForm [formGroup]="loginForm"  (ngSubmit)="onSubmit()">
    <clr-input-container>
        <label>Email</label>
        <input clrInput type="email" formControlName="email" />
        <clr-control-helper>Email</clr-control-helper>
        <clr-control-error>Invalid Email</clr-control-error>
    </clr-input-container>
    <clr-input-container>
        <label>Password</label>
        <input clrInput type="password" formControlName="password" />
        <clr-control-helper>Password</clr-control-helper>
        <clr-control-error>Invalid Password</clr-control-error>
    </clr-input-container>
    
    <button  class="btn btn-primary" type="submit">Submit</button>
</form>